body {
	background-color: #FDFEFD;
}

#title{
	margin-left: 500px;
	margin-bottom: -50px;
	align-self: center;
	font-family: fantasy;
}

#choropleth_map {
	top:70px;
	bottom: 100px; 
	left: 140px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#lollipop_chart {
	top:120px;
	bottom: 100px; 
	left: 140px;
	right: 50px;
	/*height: 1000px;
	width: 800px;*/
}

.lollipop_chart_description{
	padding-left: 750px;
	width:30vw;
	margin-top: -140px;
	font-family: sans-serif;
}


#subtitle2{
	margin-top: 150px;
	margin-left: 780px;
	margin-bottom: -50px;
	align-self: left;
}

#bar_chart_2{
	top: 120px;
	bottom: -100px; 
	margin-left: 650px;
	padding-bottom: 100px;
}

.bar_chart_2_description{
	padding-left: 100px;
	width:30vw;
	margin-top: -120px;
	font-family: sans-serif;
}

#line_chart{
	top: 180px;
	bottom: -50px; 
	margin-left: 150px;
	padding-bottom: 100px;
}

.line_chart_description{
	padding-left: 100px;
	width:70vw;
	margin-top: 120px;
	font-family: sans-serif;
}
